form{
    margin: 2%;
    margin-right: 35%;
    margin-left: 35%;
    }

.card{
    margin: auto;
    margin-top: 2%;
}

.settings{
    margin: 2%;
    margin-right: 35%;
    margin-left: 35%;
}

h3{
    text-align: center;
}